{% extends 'base.html' %}
{% block title %}员工管理{% endblock %}
{% block nav-2 %}active{% endblock %}

{% block main%}
<div class="container">
<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><i class=" glyphicon glyphicon-th-list" style="margin-right: 6px"></i>
        <a class="btn btn-primary" href="/employee/add/">添加员工</a>
        <a class="btn btn-primary" href="/employee/addform/">添加员工ModelForm</a>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>薪资</th>
            <th>入职时间</th>
            <th>部门</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {%  for employee in employees %}
          <tr>
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.age }}</td>
            <td>{{ employee.get_gender_display }}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.created_at | date:"Y-m-d"}}</td>
             <td>{{employee.department}}</td>
            <td>
                <a class="btn btn-info btn-sm" href="/employee/edit/{{ employee.id }}/" >编辑</a>
                <a class="btn btn-danger btn-sm" href="/employee/del/{{ employee.id }}/">删除</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}